/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =======CSS STARTS HERE===================================================================================================
*/ 

html, body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    height: 50px;
    background-color:  #1C3144;
    color: #F2BAC9;
    font-size: 40px;
    padding: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}

#newBookButton {
    padding: 10px;
    font-size: 15px;
    background-color: blanchedalmond;
    border-radius: 30px;
    border: 0px;
    background-color: #F1F1F1;
    color: #F2BAC9;
    font-weight: bolder;
    box-shadow: 0px 2px 15px #BF1363;
}

#newBookButton:hover {
    background-color: #CEEAF7;
}

#newBookButton:active {
    background-color: #BF1363;
    color: #F1F1F1;
    box-shadow: 0px;
}
.bookContainer {
    flex-grow: 1;
    /*height: calc(100% - 85px - 3vh);*/
    background-color: #CEEAF7;
    padding: 3vh;
}



.bookList {
    display: grid;
    grid-template-columns: repeat(auto-fit, 290px);
    grid-auto-rows: minmax(280px, auto);  /*allows the height to grow automatically of the div if needed*/
    column-gap: 60px;
}

/*Following declarations after for the card section*/
.bookCard {
    height: 25vh;
    background-color: #F1F1F1;
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 15px 10px 15px; /*top, right, bottom, left*/
    border-radius: 30px;
    box-shadow: 0px 5px 10px grey;
    font-size: 18px;
}

.cardTitle {
    font-size: 25px;
    font-weight: bold;
    color: #BF1363;
}

.cardOptions {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.footer {
    height: 25px;
    font-size: 15px;
    background-color: #1C3144;
    color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 3px;
}

.githubLogo {
    height: 20px;
}

.bookEntryContainer {
    background-color: #F1F1F1;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #F2BAC9;
    border-radius: 6px;
    position: absolute;
    top: 20px; /* starting points for the scaled down popup div*/
    right: 20px;
    transform: translate(100%, 0%) scale(0.1); /*(x, y coordinates) remember top left corner is 0,0 */
    padding: 20px;
    visibility: hidden;
    transition: transform 0.4s, top 0.5s, right 0.4s;
}

.bookEntry{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

.bookEntry h1 {
    font-size: 25px;
    font-weight: bold;
}

#bookTitle, #bookAuthor, #bookPages {
    width: 210px;
    border: 0px;
    font-size: 15px;
    padding: 5px;
    border-radius: 8px;
}

.title, .author, .pages {
    display: flex;
    justify-content: space-between;
}

.open-popup {
    visibility: visible;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) scale(1);
}

.btns {
    display: flex;
    justify-content: space-between;
}

.btns button {
    border: 0px;
    border-radius: 10%;
    background-color: #F1F1F1;
    color: #BF1363;
    box-shadow: 0px 2px 1px #F2BAC9;
    font-size: 18px;
}

.btns button:hover {
    background-color: #CEEAF7;
}

.btns button:active {
    background-color: #BF1363;
    color: #F1F1F1;
    box-shadow: 0px;
}

.removeButton {
    border: 0px;
    border-radius: 10%;
    background-color: #F1F1F1;
    color: #BF1363;
    box-shadow: 0px 2px 1px #F2BAC9;
    font-size: 18px;
}

.removeButton:hover {
    background-color: #CEEAF7;
}

.removeButton:active {
    background-color: #BF1363;
    color: #F1F1F1;
    box-shadow: 0px;
}


@media all and (min-width: 320px) and (max-width: 480px){
    .header {
        height: 10%;
        font-size: 1.75em;
        justify-content: space-between;
    }

    .bookContainer {
        flex-grow: 1;
        
    }
}